<?xml version="1.0"?>
<ArrayOfPosts xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Posts>
    <Id>0</Id>
    <Name>Amit</Name>
    <Inquiry>Who else has been Online here?</Inquiry>
    <Timestamp>2012-03-09T01:46:15.2004971+08:00</Timestamp>
    <Email>someemail@cc.com</Email>
  </Posts>
  <Posts>
    <Id>1</Id>
    <Name>Arnab</Name>
    <Inquiry>Hi Amit, how are u?</Inquiry>
    <Timestamp>2012-03-09T01:46:45.9481511+08:00</Timestamp>
    <Email>arnab@cc.com</Email>
  </Posts>
  <Posts>
    <Id>2</Id>
    <Name>Amit</Name>
    <Inquiry>Hi Arnab, what's going on?</Inquiry>
    <Timestamp>2012-03-09T01:47:18.349408+08:00</Timestamp>
    <Email>someemail@cc.com</Email>
  </Posts>
  <Posts>
    <Id>3</Id>
    <Name>Arnab</Name>
    <Inquiry>I'm fine, how r u?</Inquiry>
    <Timestamp>2012-03-09T16:41:26.1461147+08:00</Timestamp>
    <Email>arnab@cc.com</Email>
  </Posts>
</ArrayOfPosts>